.dashboard {
  display: flex;
  flex-direction: row; /* sidebar à gauche, contenu à droite */
  height: 100vh;
  background: #d3dbeb;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: linear-gradient(90deg, #021e4e, #066396f5);
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  flex-shrink: 0; /* empêche la sidebar de rétrécir */
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #d3dbeb;
  margin:0;
  padding-bottom: 50px;
}

.sidebar-item {
  font-size: 20px;
  display: block; /* chaque lien prend toute la largeur */
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.sidebar-item:hover {
  background: #d3dbeb;
  color: #3c556f;
}

.sidebar-item.active {
  background: #d3dbeb;
  color: #3c556f;
}

/* Contenu principal */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
