
.login-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px 40px;
  background:  linear-gradient(90deg, #021e4e, #066396f5);
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(23, 40, 58, 0.6);
  color: #ecf0f1;
}

.login-container h2 {
  text-align: center;
  margin: 10px;
  font-size: 40px;
  letter-spacing: 1.2px;
  font-family:'Times New Roman', Times, serif ;
  font-style: italic;
  padding-bottom: 20px;
}

.login-form-group {
  margin-bottom: 20px;
}

.login-form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #fcfdfd;
}

.login-input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: #fcfcfc;
  color: #000000;
  font-size: 16px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 8px #575f5e;
  color: #000000;
}

.login-button {
  width: 100%;
  padding: 14px 0;
  background:  linear-gradient(10deg,#868f94 ,#021e4e );
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(26, 188, 156, 0.4);
  transition: background 0.35s ease, box-shadow 0.35s ease;
  margin-bottom: 15px;
}

.login-button:hover {
  background: #909796;
  box-shadow: 0 8px 25px rgba(22, 160, 133, 0.6);
}

.page-header {
  background-color: white;
  text-align: left;
  padding: 20px 0;
}

.header-logo {
  width: 80px;
  height: auto;
}

.header-title {
  text-align: left;
  font-size: 1.8em;
  color: black;
  font-weight: bold;
}
   