.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
  padding-left: 30px; /* pushes everything right */
}

/* Cercle */
.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Texte et logo */
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px; /* pushes just the text */
}


.title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffb6c1;
  margin: 0;
}

.logo {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  
}
